* {
    box-sizing: border-box;
   }
   
   h1 {
    font-family: Brushstroke, fantasy;
    color: #000000;
   }
   
   body {
    background-image: url("background.jpg");
    background-color: #b1b0ae; 
   
   }
   
   p {
    padding: 10px;
    margin: 0;
   }
   
   .container {
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
   }
   
   section {
    border: 2px solid black;
    background-color: #e3e4e2;
    width: 100%;
    height: auto;
    font-family: Helvetica;
    color: black;
    position: relative;
    overflow: auto;
   }
   
   #chicken {
    border: none;
    text-align: center;
    width: 100%;
    font-family: Georgia,sans-serif;
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px;
    background-color: #e01f5f;
   }
   
   #beef {
    border: none; 
    text-align: center;
    width: 100%;
    font-family: Georgia,sans-serif;
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px;
    background-color: #FF1439;
   }
   
   #sushi {
    border: none;
    text-align: center;
    width: 100%;
    font-family: Georgia,sans-serif;
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #188a3e;
    color: white;
    padding: 5px;
   }
   
   #chicken-div {
     margin-bottom: 10px;
     margin-top: 10px;
     
   }
   
   #beef-div {
     margin-bottom: 10px;
     margin-top: 10px;
   
   }
   
   #sushi-div {
     margin-bottom: 10px;
     margin-top: 10px;
   }
   /* nav bar */
   .nav-link{
     text-align: center;
   }
      
